.body{
    background-color: lightgray;
}

.center {
    text-align: center;
    border-radius: 100px;
    background-color: steelblue;
}
.ul {
    text-align: right;
    background-color: #f3f3f3;
    border-block: 1px solid #e7e7e7;
}

.li {
    color: #666;
}
