.body{
    background-color: gray;
}

.center {
    text-align: center;
    border-radius: 100px;
    background-color: darkblue;
}
.right {
    text-align: right;
    background-color: whitesmoke;
}
