.body{
    background-color: lightgray;
}

.center {
    text-align: center;
    border-radius: 100px;
    background-color: steelblue;
}

.right {
    text-align: right;
    background-color: dimgrey;
    border-block: solid;
}

a:link{
    text-decoration:none;
}